@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
/* Estilos base - Móviles (Mobile First) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: black !important;
  font-family: "Poppins", serif !important;
}

header {
  background-color: rgba(75, 68, 68, 0.2980392157);
  width: 100%;
  margin: auto;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .desplegable {
  display: block;
  font-size: 35px;
  color: white;
  margin-left: -100px;
  margin-top: 13px;
}
header .perfil {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 13px;
  margin-top: 5px;
}
header .perfil .user {
  width: 35px;
  height: 36px;
  border-radius: 40px;
}
header .perfil .menu {
  width: 23px;
}
header .perfil .lupa {
  font-size: 22px;
  color: white;
}
header .secciones {
  display: none;
}
header .secciones a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 250;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
header .secciones a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
header .titulo {
  font-family: "Poller One", serif;
  margin-top: 10px;
  margin-left: 20px;
}
header .titulo a {
  text-decoration: none;
  font-size: 20px;
  color: #E50914;
  text-shadow: 2px 2px 4px #ffffff, -2px -2px 5px rgba(255, 255, 255, 0.5);
}

/* Tablets (>= 576px) */
@media (min-width: 576px) {
  header .perfil {
    gap: 20px;
  }
  header .perfil .menu {
    width: 35px;
  }
  header .perfil .lupa {
    font-size: 35px;
  }
}
/* Tablets y pantallas medianas (>= 768px) */
@media (min-width: 768px) {
  header .desplegable {
    margin-left: -230px;
  }
  header .titulo {
    font-size: 35px;
  }
  header .perfil .user {
    width: 60px;
    height: 60px;
  }
  header .perfil .menu {
    width: 35px;
  }
  header .perfil .lupa {
    font-size: 35px;
  }
}
/* Escritorios pequeños (>= 992px) */
@media (min-width: 992px) {
  header .secciones {
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
  }
  header .desplegable {
    display: none;
  }
  header .perfil {
    gap: 25px;
  }
  header .perfil .user {
    width: 50px;
    height: 50px;
  }
  header .perfil .menu {
    width: 20px;
  }
  header .perfil .lupa {
    font-size: 20px;
  }
}
/* Escritorios grandes (>= 1200px) */
@media (min-width: 1200px) {
  header .perfil {
    gap: 25px;
  }
  header .perfil .user {
    width: 50px;
    height: 50px;
  }
  header .secciones {
    gap: 40px;
  }
}
/* Pantallas extra grandes (>= 1400px) */
@media (min-width: 1400px) {
  header .perfil {
    margin-right: 30px;
    gap: 25px;
  }
  header .perfil .user {
    width: 50px;
    height: 50px;
  }
  header .secciones {
    gap: 70px;
  }
}
.carousel-item {
  position: relative;
}
.carousel-item img {
  filter: brightness(50%);
  width: 100%;
  height: 300px;
}
.carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.carousel-item .carousel-caption h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-item .carousel-caption p {
  display: none;
}
.carousel-item .carousel-caption .btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.carousel-item .carousel-caption .btn-container a {
  text-decoration: none;
}
.carousel-item .carousel-caption .btn-container .btn-netflix {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 0.9rem;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.carousel-item .carousel-caption .btn-container .btn-netflix:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel-item .carousel-caption .btn-container .btn-netflix i {
  font-size: 1rem;
}
.carousel-item .carousel-caption .btn-container .btn-plus {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 0.9rem;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.carousel-item .carousel-caption .btn-container .btn-plus:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel-item .carousel-caption .btn-container .btn-plus i {
  font-size: 1rem;
}

.slider-container {
  padding: 10px;
}
.slider-container h5 {
  color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
}

.slider {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}
.slider .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider .slide_final {
  display: flex;
  transition: transform 0s ease-in-out !important;
}
.slider .slide, .slider .slide-grande {
  position: relative;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.slider .slide .ranking-number, .slider .slide-grande .ranking-number {
  font-size: 330px;
  font-weight: bold;
  color: #000000;
  position: relative;
  z-index: 1;
  font-family: "Anton";
  margin-right: 70px;
  -webkit-text-stroke: 4px #595959;
}
.slider .slide.hover-active .ranking-number, .slider .slide-grande.hover-active .ranking-number {
  opacity: 0;
}
.slider .slide .image-container, .slider .slide-grande .image-container {
  position: relative;
  z-index: 2;
  width: 205px;
  margin-left: -86px;
}
.slider .slide .image-container img, .slider .slide-grande .image-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.slider .slide.hover-active .image-container img, .slider .slide-grande.hover-active .image-container img {
  opacity: 0;
}
.slider .slide .detalles, .slider .slide-grande .detalles {
  background-color: #242432;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7.6%;
  transition: 1s ease;
  box-shadow: 0px 0px 147px 23px rgb(65, 64, 64);
}
.slider .slide .detalles:hover, .slider .slide-grande .detalles:hover {
  z-index: 100;
  width: 90%;
}
.slider .slide .imagen_card, .slider .slide-grande .imagen_card {
  margin-bottom: 0px;
}
.slider .slide .video, .slider .slide-grande .video {
  width: 100%;
}
.slider .slide .enlaces_pelicula, .slider .slide-grande .enlaces_pelicula {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.slider .slide .enlaces_pelicula .peliculas_derecha, .slider .slide-grande .enlaces_pelicula .peliculas_derecha {
  text-align: end;
}
.slider .slide .enlaces_pelicula .peliculas_izquierda, .slider .slide-grande .enlaces_pelicula .peliculas_izquierda {
  text-align: start;
}
.slider .slide .valoracion_tiempo, .slider .slide-grande .valoracion_tiempo {
  display: grid;
  grid-template-columns: 3fr 4fr 6fr;
  padding: 1%;
  padding-left: 10%;
}
.slider .slide .genero, .slider .slide-grande .genero {
  padding: 1%;
  padding-left: 5%;
}
.slider .slide .align-right, .slider .slide-grande .align-right {
  text-align: end;
}
.slider .slide .align-left, .slider .slide-grande .align-left {
  text-align: start;
  margin-left: 5%;
}
.slider .slide .text-start, .slider .slide-grande .text-start {
  text-align: start;
}
.slider .slide .naranja, .slider .slide-grande .naranja {
  border-radius: 6px;
  text-align: center;
  width: 100%;
  height: 30px;
  padding: 1%;
}
.slider .slide .verde, .slider .slide-grande .verde {
  background-color: green;
}
.slider .slide .orange, .slider .slide-grande .orange {
  background-color: orangered;
}
.slider .slide .red, .slider .slide-grande .red {
  background-color: rgb(135, 22, 22);
}
.slider .slide-grande {
  position: relative;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.slider .slide-grande .image-container {
  position: relative;
  z-index: 2;
  width: 305px;
  margin-left: 0px;
}
.slider .slide-grande .image-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.slider .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
}
.slider .slider-btn.prev {
  left: -10px;
}
.slider .slider-btn.next {
  right: -10px;
}
.slider .slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 400px;
  }
  .carousel-item .carousel-caption {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    max-width: 80%;
  }
  .carousel-item .carousel-caption h1 {
    font-size: 2rem;
    max-width: 70%;
  }
  .carousel-item .carousel-caption p {
    display: block;
    font-size: 0.9rem;
    max-width: 50%;
  }
  .carousel-item .carousel-caption .btn-container {
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
  }
  .carousel-item .carousel-caption .btn-container .btn-netflix {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  .carousel-item .carousel-caption .btn-container .btn-plus {
    font-size: 1.1rem;
    padding: 10px;
  }
  .slider .slide {
    min-width: 33.3333333333%;
  }
  .slider .slide .ranking-number {
    font-size: 200px;
    margin-right: 60px;
  }
  .slider .slide .image-container {
    width: 140px;
    margin-left: -70px;
  }
  .slider .slide .detalles {
    width: 90%;
    left: 2.5%;
  }
  .slider .slide .detalles:hover {
    z-index: 100;
    width: 95%;
  }
  .slider .slide .enlaces_pelicula {
    grid-template-columns: 2fr 1fr;
  }
  .slider .slide .enlaces_pelicula .peliculas_derecha {
    text-align: start;
  }
  .slider .slide .enlaces_pelicula .peliculas_izquierda {
    text-align: end;
  }
  .slider .slide .valoracion_tiempo {
    padding-left: 3%;
  }
  .slider .slide-grande {
    min-width: 33.3333333333%;
  }
  .slider .slide-grande .image-container {
    width: 180px;
  }
  .slider .slide-grande .image-container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  .slider .slide-grande .detalles {
    width: 110%;
    left: -5%;
  }
  .slider .slide-grande .detalles:hover {
    z-index: 100;
    width: 120%;
  }
  .slider .slide-grande .enlaces_pelicula {
    grid-template-columns: 3fr 1fr;
  }
  .slider .slide-grande .enlaces_pelicula .peliculas_derecha {
    text-align: start;
  }
  .slider .slide-grande .enlaces_pelicula .peliculas_izquierda {
    text-align: end;
  }
  .slider .slide-grande .valoracion_tiempo {
    grid-template-columns: 2fr 3fr 1fr;
  }
}
@media (min-width: 992px) {
  .carousel-item img {
    height: 450px;
  }
  .carousel-item .carousel-caption h1 {
    font-size: 2.2rem;
  }
  .carousel-item .carousel-caption p {
    font-size: 1.1rem;
  }
  .carousel-item .carousel-caption .btn-container .btn-netflix {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
  .carousel-item .carousel-caption .btn-container .btn-plus {
    font-size: 1.2rem;
    padding: 12px;
  }
  .slider .slide {
    min-width: 20%;
  }
  .slider .slide .ranking-number {
    font-size: 160px;
    margin-right: 0px;
  }
  .slider .slide .image-container {
    width: 110px;
    margin-left: -10px;
  }
  .slider .slide .detalles {
    width: 90%;
    left: 3%;
  }
  .slider .enlaces_pelicula {
    grid-template-columns: 3fr 1fr;
  }
  .slider .enlaces_pelicula .peliculas_derecha {
    text-align: start;
  }
  .slider .enlaces_pelicula .peliculas_izquierda {
    text-align: end;
  }
  .slider .valoracion_tiempo {
    grid-template-columns: 2fr 3fr 1fr;
    padding: 110px;
  }
  .slider .slide-grande {
    min-width: 20%;
  }
  .slider .slide-grande .image-container {
    width: 170px;
  }
}
@media (min-width: 1200px) {
  .carousel-item img {
    height: 500px;
  }
  .carousel-item .carousel-caption h1 {
    font-size: 2.5rem;
  }
  .carousel-item .carousel-caption p {
    font-size: 1.2rem;
  }
  .carousel-item .carousel-caption .btn-container .btn-netflix {
    font-size: 1.3rem;
    padding: 12px 24px;
  }
  .carousel-item .carousel-caption .btn-container .btn-plus {
    font-size: 1.3rem;
    padding: 12px;
  }
}
@media (min-width: 1400px) {
  .carousel-item img {
    height: 550px;
  }
  .carousel-item .carousel-caption h1 {
    font-size: 2.8rem;
  }
  .carousel-item .carousel-caption p {
    font-size: 1.3rem;
  }
  .carousel-item .carousel-caption .btn-container .btn-netflix {
    font-size: 1.4rem;
    padding: 14px 28px;
  }
  .carousel-item .carousel-caption .btn-container .btn-plus {
    font-size: 1.4rem;
    padding: 14px;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.peliculas,
.series {
  max-width: 90%;
  margin: auto;
}

p {
  color: white;
}

.peliculas_menu,
.series_menu {
  margin-top: 1%;
}

.peliculas_menu_caja,
.series_menu_caja {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(75, 68, 68, 0.2980392157);
  border-radius: 20px;
}

.peliculas_titulo,
.series_titulo {
  color: white;
  display: none;
  font-family: "Poppins", serif;
  align-content: center;
}
.peliculas_titulo p,
.series_titulo p {
  margin-top: 10%;
  font-size: 18px;
}

.peliculas_select,
.series_select {
  margin: auto;
  text-align: center;
  width: 60%;
  font-family: "Poppins", serif;
}
.peliculas_select .select_genero,
.series_select .select_genero {
  width: 100%;
  background-color: #242432;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
}
.peliculas_select .select_genero .options_select,
.series_select .select_genero .options_select {
  font-weight: bold;
}

.peliculas_catalogo,
.series_catalogo {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  position: relative;
  width: 90%;
  margin: auto;
}

.bottom {
  margin-bottom: 15%;
  position: relative;
}

.detalles {
  background-color: #242432;
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7.6%;
  transition: 1s ease;
  box-shadow: 0px 0px 147px 23px rgb(65, 64, 64);
}

.detalles:hover {
  z-index: 100;
  width: 90%;
}

.video {
  width: 100%;
}

.enlaces_pelicula {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.enlaces_pelicula .peliculas_derecha {
  text-align: end;
}
.enlaces_pelicula .peliculas_izquierda {
  text-align: start;
}

.valoracion_tiempo {
  display: grid;
  grid-template-columns: 3fr 4fr 6fr;
  padding: 1%;
  padding-left: 10%;
}

.genero {
  padding: 1%;
  padding-left: 5%;
}

.align-right {
  text-align: end;
}

.align-left {
  text-align: start;
  margin-left: 5%;
}

.text-start {
  text-align: start;
}

.naranja {
  border-radius: 6px;
  text-align: center;
  padding: 1%;
}

.verde {
  background-color: green;
}

.orange {
  background-color: orangered;
}

.red {
  background-color: rgb(135, 22, 22);
}

@media (min-width: 768px) {
  .peliculas_menu_caja,
  .series_menu_caja {
    grid-template-columns: 1fr 3fr;
    width: 80%;
    margin: auto;
  }
  .peliculas_titulo,
  .series_titulo {
    display: block;
    text-align: end;
  }
  .peliculas_select .select_genero,
  .series_select .select_genero {
    width: 120%;
  }
  .peliculas_catalogo,
  .series_catalogo {
    margin-top: 5%;
    grid-template-columns: 1fr 1fr;
  }
  .bottom {
    margin-bottom: 20%;
  }
  .detalles {
    width: 95%;
    left: 2.5%;
  }
  .detalles:hover {
    z-index: 100;
    width: 105%;
  }
  .enlaces_pelicula {
    grid-template-columns: 2fr 1fr;
  }
  .enlaces_pelicula .peliculas_derecha {
    text-align: start;
  }
  .enlaces_pelicula .peliculas_izquierda {
    text-align: end;
  }
  .valoracion_tiempo {
    padding-left: 3%;
  }
}
@media (min-width: 992px) {
  .peliculas_menu_caja,
  .series_menu_caja {
    width: 50%;
    margin: 0;
  }
  .peliculas_select .select_genero,
  .series_select .select_genero {
    width: 120%;
  }
  .peliculas_catalogo,
  .series_catalogo {
    margin-top: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
  }
  .bottom {
    margin-bottom: 25%;
  }
  .detalles {
    width: 110%;
    left: -5%;
  }
  .detalles:hover {
    z-index: 100;
    width: 120%;
  }
  .enlaces_pelicula {
    grid-template-columns: 3fr 1fr;
  }
  .enlaces_pelicula .peliculas_derecha {
    text-align: start;
  }
  .enlaces_pelicula .peliculas_izquierda {
    text-align: end;
  }
  .valoracion_tiempo {
    grid-template-columns: 2fr 3fr 1fr;
  }
}
@media (min-width: 1200px) {
  .peliculas_menu_caja,
  .series_menu_caja {
    width: 40%;
  }
  .peliculas_select .select_genero,
  .series_select .select_genero {
    width: 130%;
  }
  .peliculas_catalogo,
  .series_catalogo {
    margin-top: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.content {
  position: relative;
}
.content .trailerDetalles {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.content .trailerDetalles video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover; /* Ajusta el video sin deformación */
}
.content .filmcity {
  position: relative;
  font-family: "Poller One", serif;
  font-size: 20px;
  color: #E50914;
  margin-top: 20px;
  margin-left: 20px;
}
.content .filmcity h3 {
  position: absolute;
  top: 180px;
  left: 30px;
  text-shadow: 2px 2px 4px #ffffff, -2px -2px 5px rgba(255, 255, 255, 0.5);
}
.content .titulo-pelicula {
  position: relative;
}
.content .titulo-pelicula img {
  width: 100%;
  max-width: 330px;
  position: absolute;
  top: 180px;
  left: 30px;
}
.content .descripcion {
  position: absolute;
  top: 320px;
  left: 30px;
  width: 90%;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 1.5;
}
.content .masDetalles {
  position: absolute;
  top: 455px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}
.content .masDetalles p {
  font-weight: bold;
  color: grey;
  margin: 0;
}
.content .masDetalles ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: grey;
  list-style-type: none;
  padding: 0;
}
.content .verAhora {
  position: absolute;
  display: flex;
  align-items: center;
  top: 485px;
  width: 160px;
  height: 39px;
  margin-left: 15px;
  border-radius: 50px;
  background-color: grey;
  font-family: "Poppins", serif;
  font-size: 17px;
  font-weight: bold;
  color: white;
  gap: 5px;
  box-shadow: 0 5px 5px 0 rgb(39, 39, 39);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}
.content .verAhora i {
  margin-left: 23px;
  font-size: 30px;
  color: white;
}
.content .botones {
  position: absolute;
  top: 485px;
  left: 180px;
  display: flex;
  gap: 10px;
}
.content .botones i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.content .botones .mas {
  margin-top: -5px;
  font-size: 30px;
}
.content .botones .circulo {
  border-radius: 100px;
  border: 2px solid white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.detalle_pelicula {
  margin-left: 20px;
  margin-top: 30px;
  color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detalle_pelicula h3 {
  border-bottom: 3px solid #ffffff;
  width: 90px;
}
.detalle_pelicula #sinopsis, .detalle_pelicula #reparto, .detalle_pelicula #audio {
  background-color: #2c2c3a;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  width: 95%;
}
.detalle_pelicula #reparto, .detalle_pelicula #audio {
  margin-bottom: 20px;
}
.detalle_pelicula h4 {
  color: gray;
  margin-bottom: 10px;
}
.detalle_pelicula p {
  font-size: 14px;
  line-height: 1.5;
}
.detalle_pelicula p strong {
  color: gray;
  font-weight: 500;
}

.relacionado_pelicula {
  margin-left: 20px;
  margin-top: 10px;
}
.relacionado_pelicula h3 {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  width: -moz-fit-content;
  width: fit-content;
}
.relacionado_pelicula h4 {
  margin-top: 10px;
  color: #ffffff;
}
.relacionado_pelicula #peliculas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.relacionado_pelicula .pelicula {
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  text-align: center;
}
.relacionado_pelicula .pelicula img {
  width: 100%;
}

@media (min-width: 495px) {
  .botones {
    top: 485px;
    left: 220px;
  }
  .botones i {
    font-size: 30px;
  }
  .botones .mas {
    margin-top: -8px;
    font-size: 40px;
  }
  .botones .circulo {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  .detalle_pelicula {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #sinopsis {
    width: 100%;
  }
  .reparto-audio {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  #reparto, #audio {
    flex: 1;
  }
  #audio {
    margin-right: 40px;
  }
  .botones {
    top: 485px;
    margin-top: 5px;
    margin-left: 20px;
  }
  .relacionado_pelicula {
    margin-left: 20px;
    margin-top: 10px;
  }
  .relacionado_pelicula h3 {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    width: -moz-fit-content;
    width: fit-content;
  }
  .relacionado_pelicula h4 {
    margin-top: 10px;
    color: #ffffff;
  }
  .relacionado_pelicula #peliculas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .relacionado_pelicula .pelicula {
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
  }
  .relacionado_pelicula .pelicula img {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .detalle_pelicula {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 100%;
  }
  .detalle_pelicula h3 {
    grid-column: 1/span 2;
    grid-row: 1;
  }
  #sinopsis {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 10px;
  }
  .reparto-audio {
    margin-top: 10px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #reparto, #audio {
    margin: 0;
  }
  #peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .pelicula {
    flex: 1 1 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }
  .pelicula img {
    width: 100%;
  }
}
body {
  margin: auto;
}

.banner {
  width: 100%;
  margin: auto;
  position: relative;
}
.banner .logo_pelicula {
  width: 70%;
  top: 20%;
  left: 15%;
  position: absolute;
}
.banner .detalles_serie {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "boton_serie" "botones_serie" "descripcion_serie";
}
.banner .detalles_serie .boton_serie {
  grid-area: boton_serie;
  margin: auto;
}
.banner .detalles_serie .boton_serie .verAhora {
  display: flex;
  align-items: center;
  width: 140px;
  height: 33px;
  border-radius: 50px;
  background-color: grey;
  font-family: "Poppins", serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
  gap: 5px;
  box-shadow: 0 5px 5px 0 rgb(39, 39, 39);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}
.banner .detalles_serie .botones_serie {
  grid-area: botones_serie;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
}
.banner .detalles_serie .descripcion_serie {
  grid-area: descripcion_serie;
  display: none;
}
.banner .detalles_serie i {
  margin-left: 23px;
  font-size: 30px;
  color: white;
}
.banner .botones {
  position: absolute;
  top: 80%;
  left: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.banner .botones i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.capitulos {
  width: 95%;
  margin: auto;
  margin-top: 1%;
}

.capitulos_grandes {
  display: none;
}

.temporadas {
  text-align: center;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(75, 68, 68, 0.2980392157);
  margin: auto;
  padding: 1%;
  margin-bottom: 5%;
}
.temporadas .temporadas_serie {
  font-family: "Poppins", serif;
  background-color: #242432;
  border: none;
  width: 80%;
  color: white;
  padding: 1%;
  text-align: center;
}

.capitulo_pequeño {
  background-color: rgba(75, 68, 68, 0.2980392157);
  margin-bottom: 5%;
  text-align: center;
  padding: 2%;
  border-radius: 20px;
}

.detalles_capitulo {
  width: 80%;
  background-color: #242432;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
}
.detalles_capitulo img {
  border-radius: 20px;
}

.capitulo_grande {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
}
.capitulo_grande .caja_imagen .imagen_serie {
  border-radius: 15px;
}
.capitulo_grande .caja_imagen .imagen_serie:hover {
  filter: blur(1px);
}
.capitulo_grande .titulo {
  font-weight: 700;
  font-size: 120%;
  margin-bottom: 2%;
}

@media (min-width: 768px) {
  .banner .logo_pelicula {
    width: 40%;
    top: 35%;
    left: 5%;
  }
  .banner .detalles_serie {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "boton_serie botones_serie" "descripcion_serie descripcion_serie";
    align-items: center;
    top: 60%;
  }
  .banner .detalles_serie .boton_serie {
    margin: 0;
  }
  .banner .detalles_serie .boton_serie .verAhora {
    width: 160px;
    height: 39px;
    font-size: 17px;
  }
  .banner .detalles_serie .botones_serie {
    width: 50%;
    margin: 0;
  }
  .banner .detalles_serie .descripcion_serie {
    display: block;
    margin-top: 1%;
    font-size: 102%;
  }
  .temporadas {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .banner .logo_pelicula {
    width: 30%;
    top: 45%;
    left: 5%;
  }
  .banner .detalles_serie {
    margin-top: 2%;
    grid-template-columns: 1fr 5fr;
  }
  .banner .detalles_serie .botones_serie {
    width: 40%;
  }
  .banner .detalles_serie .descripcion_serie {
    font-size: 125%;
  }
  .temporadas {
    width: 40%;
    margin: 0;
  }
  .capitulos_pequeños {
    display: none;
  }
  .capitulos_grandes {
    display: block;
  }
}
@media (min-width: 1200px) {
  .banner .logo_pelicula {
    width: 30%;
    top: 50%;
    left: 5%;
  }
  .banner .detalles_serie {
    margin-top: 5%;
    grid-template-columns: 1fr 7fr;
  }
  .banner .detalles_serie .botones_serie {
    width: 30%;
  }
  .banner .detalles_serie .descripcion_serie {
    font-size: 150%;
  }
  .temporadas {
    width: 35%;
  }
}
@media (min-width: 1400px) {
  body {
    max-width: 1600px;
    margin: auto !important;
  }
}
footer {
  color: #ffffff;
  text-align: center;
}
footer .redes {
  margin: auto;
  margin-top: 110px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
footer .enlaces {
  padding: 30px;
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
  font-weight: 200;
}
footer .enlaces a {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  color: #ffffff;
}
footer .enlaces a:hover {
  text-decoration: underline;
}
footer .titulo {
  font-family: "Poller One", serif;
  margin-left: 20px;
}
footer .titulo a {
  text-decoration: none;
  font-size: 30px;
  color: #E50914;
  text-shadow: 2px 2px 4px #ffffff, -2px -2px 5px rgba(255, 255, 255, 0.5);
}
footer .copy p {
  font-size: 10px;
  font-weight: 200;
}

.copy {
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 768px) {
  footer {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
  footer hr {
    display: none;
  }
  footer .enlaces {
    margin-left: 100px;
    margin-top: 15px;
    font-size: 20px;
    gap: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .titulo {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  footer {
    width: 95%;
  }
  footer .enlaces {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 13px;
  }
  footer .columna a {
    padding: 10px;
  }
  footer .titulo {
    margin-top: -50px;
  }
}
@media (min-width: 1200px) {
  footer .titulo {
    margin-top: 1px;
    font-size: 35px;
  }
}
body {
  border-color: black;
}

.contenedor {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
}
.contenedor .headerRepro {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3411764706);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor .headerRepro i {
  font-size: 30px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.contenedor video {
  display: block;
  height: 100vh;
}
.contenedor .footerRepro {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3411764706);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contenedor .footerRepro i {
  font-size: 30px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.contenedor .footerRepro .informacion {
  color: white;
  font-weight: bold;
}/*# sourceMappingURL=estilos.css.map */