body{
    // max-width: 1300px;
    margin: auto;
}

//BANNER
.banner{
    width: 100%;
    margin: auto;
    position: relative;

    .logo_pelicula{
        width: 70%;
        top: 20%;
        left: 15%;
        position: absolute;
        
    }

}


//CAPITULOS

.capitulos{
    width: 95%;
    margin: auto;
    margin-top: 1%;
}

.capitulos_grandes{
    display: none;
}

.temporadas{
    text-align: center;
    width: 100%;
    border-radius: 20px;
    background-color: $color_secundario;
    margin: auto;
    padding: 1%;
    margin-bottom: 5%;
    
    .temporadas_serie{
        font-family: $fuente_principal;
        background-color: $color_detalles;
        border: none;
        width: 80%;
        color: white;
        padding: 1%;
        text-align: center;
            
    }

}

//CAPITULOS PEQUEÑOS

.capitulo_pequeño{
    background-color: $color_secundario;
    margin-bottom: 5%;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
}

.detalles_capitulo{
    width: 80%;
    background-color: $color_detalles;
    margin: auto;
    padding: 2%;
    border-radius: 20px;

    img{
        border-radius: 20px;
    }

}

//CAPITULOS GRANDES
.capitulo_grande{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;

    .caja_imagen{

        .imagen_serie{
            border-radius: 15px;
        }

        .imagen_serie:hover{
            filter: blur(1px);
        }

    }

    .titulo{
        font-weight: 700;
        font-size: 120%;
        margin-bottom: 2%;
    }
    
}

//RESPONSIVE
@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .banner{
    
        .logo_pelicula{
            width: 40%;
            top: 30%;
            left: 5%;
        }
    
    }

    .temporadas{
        width: 60%;
    }

}

@media (min-width: 992px) {

    .banner{
    
        .logo_pelicula{
            width: 30%;
            top: 45%;
            left: 5%;
        }
    
    }

    .temporadas{
        width: 40%;
        margin: 0;

    }

    .capitulos_pequeños{
        display: none;
    }

    .capitulos_grandes{
        display: block;
    }

}

@media (min-width: 1200px) {

    .banner{
    
        .logo_pelicula{
            width: 30%;
            top: 50%;
            left: 5%;
        }
    
    }

    .temporadas{
        width: 35%;
    }

}

@media (min-width: 1400px) {

    body{
        max-width: 1600px;
        margin: auto !important;
    }
}