// Estilos base (Móvil primero)
.carousel-item {
    position: relative;
  
    img {
      filter: brightness(50%);
      width: 100%;
      height: 300px; // Altura fija para el banner en móviles

    }
  
    .carousel-caption {
      position: absolute;
      top: 50%; // Centra el contenido verticalmente
      left: 50%; // Centra el contenido horizontalmente
      transform: translate(-50%, -50%); // Asegura el centrado exacto
      text-align: center; // Alinea el texto al centro
      width: 90%; // Ancho máximo para móviles
  
      h1 {
        font-size: 1.5rem; // Tamaño de fuente para móviles
        font-weight: bold;
        text-transform: uppercase;
      }
  
      p {
        display: none; // Oculta la descripción en móviles
      }
  
      .btn-container {
        display: flex;
        justify-content: center; // Centra los botones
        gap: 10px;
        margin-top: 15px;
  
        .btn-netflix {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: rgba(255, 255, 255, 0.3);
          color: white;
          font-size: 0.9rem; // Tamaño de fuente para móviles
          padding: 8px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
          }
  
          i {
            font-size: 1rem; // Tamaño de ícono para móviles
          }
        }
  
        .btn-plus {
          background-color: rgba(255, 255, 255, 0.3);
          color: white;
          font-size: 0.9rem; // Tamaño de fuente para móviles
          padding: 8px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
          }
  
          i {
            font-size: 1rem; // Tamaño de ícono para móviles
          }
        }
      }
    }
  }

  .slider-container {
    padding: 20px;
  
    h5 {
      color: $color_principal;
      margin-top: 30px;
    }
  }
  
  // Estilos para el slider
  .slider {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden;
  
    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      
    }
  
    .slide_final {
      display: flex;
      transition: transform 0s ease-in-out !important;
    }
  
    .slide {
      position: relative;
      margin-top: -30px;
      display: flex;
      align-items: center;
      justify-content: center; // Centra el contenido horizontalmente
      min-width: 100%; // Por defecto, 1 imagen (100% del ancho)
      padding: 10px;
      box-sizing: border-box;
  
      .ranking-number {
        font-size: 330px; // Tamaño grande para el número
        font-weight: bold;
        color: #000000; // Color oscuro con transparencia
        position: relative;
        z-index: 1; // Número detrás de la imagen
        font-family: $fuente_numeros; // Fuente gruesa y llamativa
        margin-right: 70px; // Ajusta para superponer la imagen
        -webkit-text-stroke: 4px #595959; // Borde grueso gris
      }
  
      .image-container {
        position: relative;
        z-index: 2; // Imagen por encima del número
        width: 205px; // Ajusta el tamaño de la imagen
        margin-left: -86px; // Ajusta para superponer la imagen sobre el número
  
        img {
          width: 100%;
         
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Sombra para resaltar
        }
      }
    }
  
    .slider-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 2rem;
      z-index: 10;
  
      &.prev {
        left: -10px;
      }
  
      &.next {
        right: -10px;
      }
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .carousel-item {
      img {
        height: 400px; // Altura fija para tablets
      }
  
      .carousel-caption {
        top: 50%; // Ajusta la posición vertical
        left: 10%; // Alinea el texto a la izquierda
        transform: translateY(-50%); // Ajusta el centrado vertical
        text-align: left; // Alinea el texto a la izquierda
        max-width: 80%; // Asegura que el texto no se salga de la imagen
  
        h1 {
          font-size: 2rem; // Tamaño de fuente más grande para tablets
          max-width: 70%;
        }
  
        p {
            display: block; // Muestra la descripción
            font-size: 0.9rem; // Tamaño de fuente para dispositivos pequeños
            max-width: 50%; // Asegura que el texto no se salga de la imagen
          }
  
        .btn-container {
          justify-content: flex-start; // Alinea los botones a la izquierda
          gap: 10px;
          margin-top: 20px;
  
          .btn-netflix {
            font-size: 1.1rem; // Tamaño de fuente más grande para tablets
            padding: 10px 20px;
          }
  
          .btn-plus {
            font-size: 1.1rem; // Tamaño de fuente más grande para tablets
            padding: 10px;
          }
        }
      }
    }

    .slider {
      .slide {
        min-width: calc(100% / 3); // 3 imágenes (33.33% del ancho)
  
        .ranking-number {
          font-size: 200px; // Tamaño ajustado para tablets
          margin-right: 60px; // Ajuste de margen para tablets
        }
  
        .image-container {
          width: 130px; // Tamaño ajustado para tablets
          margin-left: -70px; // Ajuste de margen para tablets
        }
      }
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .carousel-item {
      img {
        height: 450px; // Altura fija para desktops
      }
  
      .carousel-caption {
        h1 {
          font-size: 2.2rem; // Tamaño de fuente más grande para desktops
        }
  
        p {
          font-size: 1.1rem; // Tamaño de fuente más grande para desktops
        }
  
        .btn-container {
          .btn-netflix {
            font-size: 1.2rem; // Tamaño de fuente más grande para desktops
            padding: 12px 24px;
          }
  
          .btn-plus {
            font-size: 1.2rem; // Tamaño de fuente más grande para desktops
            padding: 12px;
          }
        }
      }
    }
    .slider {
      .slide {
        min-width: calc(100% / 5); // 5 imágenes (20% del ancho)
  
        .ranking-number {
          font-size: 150px; // Tamaño ajustado para escritorios
          margin-right: 0px; // Ajuste de margen para escritorios
        }
  
        .image-container {
          width: 100px; // Tamaño ajustado para escritorios
          margin-left: -10px; // Ajuste de margen para escritorios
        }
      }
    }
  }
  
  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .carousel-item {
      img {
        height: 500px; // Altura fija para pantallas grandes
      }
  
      .carousel-caption {
        h1 {
          
          font-size: 2.5rem; // Tamaño de fuente más grande para pantallas grandes
        }
  
        p {
          font-size: 1.2rem; // Tamaño de fuente más grande para pantallas grandes
        }
  
        .btn-container {
          .btn-netflix {
            font-size: 1.3rem; // Tamaño de fuente más grande para pantallas grandes
            padding: 12px 24px;
          }
  
          .btn-plus {
            font-size: 1.3rem; // Tamaño de fuente más grande para pantallas grandes
            padding: 12px;
          }
        }
      }
    }
  }
  
  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    .carousel-item {
      img {
        height: 550px; // Altura fija para pantallas muy grandes
      }
  
      .carousel-caption {
        h1 {
          font-size: 2.8rem; // Tamaño de fuente más grande para pantallas muy grandes
        }
  
        p {
          font-size: 1.3rem; // Tamaño de fuente más grande para pantallas muy grandes
        }
  
        .btn-container {
          .btn-netflix {
            font-size: 1.4rem; // Tamaño de fuente más grande para pantallas muy grandes
            padding: 14px 28px;
          }
  
          .btn-plus {
            font-size: 1.4rem; // Tamaño de fuente más grande para pantallas muy grandes
            padding: 14px;
          }
        }
      }
    }
  }