*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.peliculas{
    max-width: 90%;
    margin: auto;
}

//MENU CAJA

.peliculas_menu_caja{
    display: grid;
    grid-template-columns: 1fr;
    background-color: $color_secundario;
    border-radius: 20px;
    padding: 1%;
}

.peliculas_titulo{
    color: white;
    display: none;
    font-family: $fuente_principal;
    align-content: center;
}

.peliculas_select{
    margin: auto;
    text-align: center;
    width: 60%;
    font-family: $fuente_principal;
    
    .select_genero{
        width: 100%;
        background-color: $color_detalles;
        border: none;
        color: white;
        padding: 2%;
        text-align: center;

        .options_select{
            font-weight: bold;
        }

    }

}

//PELICULAS

//RESPONSIVE
@media (min-width: 576px) { 

    

 }

@media (min-width: 768px) { 
    
    .peliculas_menu_caja{
        grid-template-columns: 1fr 3fr;
        width: 80%;
        margin: auto;
    }

    .peliculas_titulo{
        display: block;
        text-align: end;
    }

    .peliculas_select{
        
        .select_genero{
            width: 120%;
        }
    
    }
        
}

@media (min-width: 992px) { 
    
    .peliculas_menu_caja{
        width: 50%;
        margin: 0;
    }

    .peliculas_select{
        
        .select_genero{
            width: 120%;
        }
    
    }
    
}

@media (min-width: 1200px) { 
    
    .peliculas_menu_caja{
        width: 40%;
    }

    .peliculas_select{
        
        .select_genero{
            width: 130%;
        }
    
    }

 }

@media (min-width: 1400px) { 

 }